<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="card">
        
        <div class="card-body ">
          <h5 class="card-title p-3 text-white bg-secondary border border-secondary rounded-3"><%= blog.title %></h5>
          <p class="card-text p-3 text-white text-dark bg-dark border border-dark rounded-3"><%= blog.body %></p>

          
            <img src="<%= blog.createdBy.profileImageURL %>" width="40vw"><%= blog.createdBy.fullName %>
            
         
        </div>
       
      </div>

      <% if (locals.user) { %>

        <div class="card">
        
            <div class="card-body">
              <h1 class="card-title">Comments (<%= comments.length %>)</h1>
    
              <form action="/blog/comment/<%= blog._id %>" method="post">
                    
                <div class="form-group">
                   
                    <input type="text" class="form-control" id="content" aria-describedby="content" name="content" placeholder="Enter your Comment">
                    
                </div>
                
                <button type="submit" class="btn btn-primary mt-3">Comment</button>
            </form>
    
             
            </div>
          </div>
    
       
      <% } %>

      <% comments.forEach(comment => { %>
        <div>
        <img src="<%= comment.createdBy.profileImageURL %>" width="40vw"/>
        <%= comment.createdBy.fullName %>:

        <pre><%= comment.content %></pre>

        </div>

        
    <% }) %>


     
          
         
       


      
        

      

      




    <%- include('./partials/script') %>
</body>
</html>